body {
    background: linear-gradient(to right, #4e44a5, #004e92, #4568dc, #2193b0);
    transition: 0.3s;
}

body::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -10vh;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #3bb5fc, #4568dc);    
    -webkit-mask: linear-gradient(#fff, transparent);
    mask: linear-gradient(#fff, transparent);
}

.pdf .ds-selected {
    background: rgba(130, 130, 130, 0.4);
}

.ds-selected.title {
    background: rgba(130, 130, 130, 0.6);
}

.event .ds-selected,
.topic .ds-selected {
    background: rgba(45, 170, 219, 0.3);
}

/*Schedule*/
.schedule {
    width: 94%;
    height: 10vh;
    text-align: center;
    overflow: hidden;
    padding: 0 !important;
    white-space: nowrap;
    display: inline-block;
}

.event-wrap {
    transition: 0.3s;
}

.schedule .event {
    height: 8vh;
    width: 13%;
    background-color: #fff;
    margin-top: 1vh;
    margin-right: 2%;
    border-radius: 1.5vh;
    overflow: hidden;
    display: inline-block;
}

.schedule .label {
    text-align: center;
    color: #06D6A0;
    font-size: 2vh;
    margin-top: 0.8vh;
    display: inline-block;
}

.schedule .desc {
    text-align: center;
    color: #1B98E0;
    font-size: 1.8vh;
    width: 100%;
    margin-top: -15px;
}

.slider {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
    height: 10vh;
    margin-top: 10vh;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider> :first-child,
.slider> :last-child {
    display: inline-block !important;
}

.fa-chevron-left.sa {
    font-size: 3vh !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 3%;
    height: 10vh;
    padding-left: 1%;
    padding-top: 3.5vh;
    cursor: pointer;
    transition: 0.3s;
}

.fa-chevron-right.sa {
    font-size: 3vh !important;
    position: absolute;
    top: 0;
    right: 0;
    width: 3%;
    height: 10vh;
    padding-left: 1%;
    padding-top: 3.5vh;
    cursor: pointer;
    transition: 0.3s;
}
.fa-chevron-left.sa:hover,
.fa-chevron-right.sa:hover {
    color: #2c2379;
}

/*Lectures*/
.lectures {
    margin-top: 4vh;
    width: 100%;
    text-align: center;
}

.lectures .title {
    font-size: 6vh;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin: auto;
}

.topic-wrap {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

.topic {
    height: 5.5vh;
    width: auto;
    background-color: #fff;
    border-radius: 1.5vh;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding-right: 2vh;
    padding-left: 2vh;
    padding-top: 0.4vh;
    font-size: 2vh;
    color: #1B98E0;
    cursor: pointer;
    white-space: nowrap;
    overflow-x: hidden;
}

.topic p {
    display: inline;
    position: relative;
    overflow-x: hidden;
}

.topic:hover {
    color: #3D348B !important;
    transition: 0.3s;
}

.topic i {
    font-size: 3vh;
    color: #3D348B;
    transform: translateY(0.6vh);
}

/*PDF*/
.viewer {
    margin-top: 5vh;
    width: 84%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
    height: 0vh;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    border-radius: 1.5vh;
    transition: 0.3s;
    overflow: hidden;
}

.pdf-wrap {
    transition: 0.3s;
    width: 92.142857%;
    overflow: hidden;
    display: block;
    margin: auto;
}

.pdf {
    height: 30vh;
    width: 20%;
    background-color: #fff;
    border-radius: 1.5vh;
    margin-top: 2vh;
    margin-right: 3%;
    overflow: hidden;
    display: inline-block;
    transition: 0.3s;
}

.pdf img {
    width: 100%;
}

.pdf-move {
    transition: 0.3s;
    position: relative;
    height: 38vh;
}

.pdf .label {
    font-size: 2vh;
    color: #000;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 20%;
    overflow: hidden;
    z-index: 1;
    transition: 0.3s;
}

.fa-chevron-left.pa {
    position: absolute;
    font-size: 3vh !important;
    left: 8.3%;
    top: 55vh;
    width: 3%;
    height: 38vh;
    padding-top: 8vh;
    padding-left: 2vh;
    cursor: pointer;
    color: #3D348B;
    transition: 0.3s;
    z-index: 9;
    display: none;
}

.fa-chevron-right.pa {
    position: absolute;
    font-size: 3vh !important;
    right: 7%;
    top: 55vh;
    width: 3%;
    height: 38vh;
    padding-top: 8vh;
    padding-right: 2vh;
    cursor: pointer;
    color: #3D348B;
    transition: 0.3s;
    z-index: 9;
    display: none;
}

/*Resources*/
.resources {
    width: 100%;
    transition: 0.3s;
    text-align: center;
}

.resources .col-c {
    height: 48vh;
    border-radius: 1.5vh;
    margin-right: 2%;
    margin-bottom: 7vh;
    width: 20%;
    overflow: hidden;
    transition: 0.3s;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 60px 40px rgba(0, 0, 0, 0.15);
}

.resources .col-c:hover {
    transform: scale(1.03);
}

.resources .col-c img {
    min-width: 100%;
    max-height: 48vh;
}

.resources .title {
    font-size: 6vh;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin: auto;
    margin-bottom: 4vh;
}

.foot-wrap {
    margin-top: 0vh;
}

footer {
    position: absolute;
    transition: 0.3s;
}