body::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -10vh;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #3bb5fc, #526efc);
    -webkit-mask: linear-gradient(#fff, transparent);
    mask: linear-gradient(#fff, transparent);
}

body {
    background: linear-gradient(to right, #0072ff, #1B98E0, #00C9FF);
    transition: 0.3s;
}

.topic-wrap {
    width: 70%;
}