.metric {
    background-size: 100%;
    background-image: linear-gradient(to top right, #3D348B, #1b98e0);
    text-align: center;
    margin: 0px;
    overflow: hidden;
    height: 100vh;
    transform: translateY(-30vh);
}

.metric-cover {
    position: absolute;
    height: 30vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
    ;
    top: 0;
}

.metric-cover p {
    font-size: 10vh;
    position: absolute;
    top: 0;
    width: 100%;
    line-height: 50vh;
    text-align: center;
    color: #fff
}

.after {
    height: 30vh;
    width: 100%;
    margin-top: -30vh;
}