.metric {
    background-size: 100%;
    background-image: linear-gradient(to top right, #3D348B, #1b98e0);
    text-align: center;
    margin: 0px;
    overflow: hidden;
    height: 100vh;
    transform: translateY(-25vh);
}

.metric-cover {
    position: absolute;
    height: 30vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
    top: 0;
}

.metric-cover p {
    font-size: 10vh;
    position: absolute;
    top: 20vh;
    width: 100%;
    text-align: center;
    color: #fff
}

.b1 p.title {
    font-size: 5vh;
    text-align: center;
    margin-top: 5vh;
    color: #1B98E0;
}

.b1 p.desc {
    padding: 2vh 20%;
    text-align: center;
    font-size: 2vh;
    margin-top: -2vh;
}

.b1 span {
    color: #06D6A0;
    font-size: 2.8vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 89vh;
}

/*Demo*/
img.demo-left {
    width: 100%;
    transition: 0.3s;
    margin-bottom: 5vh;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.32);
    transform: rotateX(10deg) rotateY(10deg) translateX(4vh);
}

img.demo-right {
    width: 100%;
    transition: 0.3s;
    margin-bottom: 5vh;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.32);
    transform: rotateX(10deg) rotateY(-10deg) translateX(-4vh);
}

.demo-right:hover,
.demo-left:hover {
    transform: rotateX(0deg) rotateY(0deg);
}

.img-title {
    font-size: 4.5vh;
    text-align: center;
}

.img-body {
    font-size: 1.7vh;
    text-align: justify;
    padding-left: 10vh;
    padding-right: 10vh;
    margin-top: -4vh;
}