nav {
    background-color: transparent
}

nav * {
    color: #fff
}

.active {
    color: #06D6A0
}

nav span:hover {
    color: #06D6A0
}

.ds-selected {
    background: rgba(45, 170, 219, 0.3);
}

.metric {
    background-size: 100%;
    background-image: linear-gradient(to top right, #3D348B, #1b98e0);
    text-align: center;
    margin: 0px;
    overflow: hidden;
    height: 100vh;
    transform: translateY(-25vh);
    top: 0;
    height: 100vh;
}

.metric-cover .back {
    width: 100%;
    height: 75vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../Pics/home/metric.png");
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    display: none;
}

.metric-cover {
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
    text-align: center;
}

.wrap-body,
body {
    background-color: #fff;
}

.metric-cover p {
    font-size: 12vh;
    font-family: "Lato";
    position: absolute;
    top: 20vh;
    display: inline-block;
    margin: auto;
    color: #fff;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 100;
    width: 100%;
}

/*b1*/
.b1 {
    text-align: center;
    width: 90%;
    margin: -26vh auto 5vh;
}

.b1 p.title {
    font-size: 5vh;
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-top: 5vh !important;
    color: #1B98E0;
    font-family: 'Lato' !important;
}

.b1 p.desc {
    padding-bottom: 2vh;
    width: 70%;
    margin: auto;
    margin-top: 1vh !important;
    text-align: center;
    font-size: 2vh;
    max-width: 140vh;
}

.b1 .label {
    color: #06D6A0;
    font-size: 2.8vh;
    display: inline-block;
    text-align: center;
}

hr {
    width: 80%;
    margin-left: 10%;
}

/*Intro*/
.b2 {
    text-align: center;
}

.b2 .title {
    font-size: 5vh;
    text-align: center;
    color: #1B98E0;
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-top: 2vh;
    font-family: 'Lato', 'Arial';
}

.b2 div>a {
    display: inline-block;
}

.b2>.row {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
}

.b2 img {
    width: 105%;
    border-radius: 1vh;
    margin-left: -2.5%;
}

.b2 .row>div {
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 0 !important;
    min-width: 50vh;
    max-width: 70vh;
}

.b2 .label {
    text-align: center;
    font-size: 3.2vh;
    margin-top: 1.5vh;
    width: 105%;
    margin-left: -2.5%;
    font-family: 'Lato', 'Arial';
}

.b2 .desc {
    font-size: 1.95vh;
    text-align: justify;
    width: 105%;
    margin-left: -2.5%;
    color: #444;
    margin-bottom: 4vh;
}

/*Outreach*/
.outreach {
    padding-left: 5%;
    padding-right: 5%;
}

.outreach img {
    width: 100%;
    min-height: 40vh;
}

.outreach .img-wrap {
    height: 40vh;
    width: auto;
    margin: auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 1vh;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.04),
        0 12.3px 17.9px rgba(0, 0, 0, 0.072),
        0 21.8px 33.4px rgba(0, 0, 0, 0.086),
        0 10px 20px rgba(0, 0, 0, 0.12);
}

.img-left {
    transform: rotateX(10deg) rotateY(10deg) translateX(-4vh);
    transition: 0.3s;
}

.img-right {
    transform: rotateX(10deg) rotateY(-10deg) translateX(4vh);
    transition: 0.3s;
}

.outreach .row {
    justify-content: center;
}

.outreach .col-5 {
    margin-top: 3vh;
    margin-bottom: 8vh;
    min-width: 70vh;
    max-width: 95vh;
}

.outreach .text {
    display: flex;
    align-items: center;
}

.outreach .label {
    color: #06D6A0;
    font-size: 3.4vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.outreach .desc {
    text-align: left;
    font-size: 2vh;
}

/*Team*/
.outreach,
.b4 {
    text-align: center;
}

.b4 {
    padding-top: 2vh;
    padding-bottom: 3vh;
}

.outreach .title,
.b4 .title {
    font-size: 5vh;
    text-align: center;
    color: #1B98E0;
    display: inline-block;
    text-align: center;
    margin-top: 2vh auto auto;
    font-family: 'Lato' !important;
}

.b4 .label {
    color: #06D6A0;
    font-size: 2.8vh;
    display: inline-block;
    text-align: center;
    margin: 0vh auto 4vh;
}

.b4>.row {
    width: 80%;
    max-width: 150vh;
    margin: auto;
    justify-content: center;
}

.b4>div>div {
    min-width: 33vh;
    max-width: 33vh;
    margin-bottom: 4vh;
    justify-content: center;
    align-items: center;
}

.b4 .img-wrap {
    width: 12vh;
    height: 12vh;
    overflow: hidden;
    border-radius: 100%;
}

.b4 img {
    width: 100%;
}

.b4 .desc {
    right: 4vh;
    text-align: center;
    font-size: 1.9vh;
    transform: translateX(4vh);
}

/* @media only screen and (orientation:portrait) {

    html,
    body {
        overflow-x: hidden;
    }

    body,
    .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .metric-cover p {
        top: 15vh;
    }

    .b1 p.label {
        width: 80%;
    }

    .b1 p.desc {
        width: 90%;
    }

    .b2 .row>div,
    .outreach .col-5 {
        min-width: 40vh;
    }

    .outreach .img-wrap {
        display: none;
    }
} */