@font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito/Nunito-Regular.ttf");
}

@font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito/Nunito-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-Bold.ttf");
    font-weight: bold;
}

html {
    overflow-x: hidden;
}

body {
    font-family: "Nunito", "arial" !important;
    overflow-x: hidden;
    user-select: none;
    margin: 0 !important;
}

p {
    user-select: text;
    transition: 0.3s;
}

#clipboard {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
    color: transparent;
    font-size: 0vh;
}

.ds-selected {
    background: rgba(130, 130, 130, 0.35);
    border-radius: 0.5vh;
}

.ds-selector {
    border: #999 solid 0px !important;
    background: #cccccc55 !important;
    border-radius: 0.75vh;
    z-index: 1000 !important;
}

nav {
    font-size: 2vh;
    height: 7vh;
    font-family: 'Lato', "arial";
}

nav a {
    color: #fff;
}

nav img {
    height: 5vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    transition: 0.5s;
}

nav img:hover {
    height: 5.5vh;
}

nav span {
    padding-right: 2vh;
    padding-left: 2vh;
    font-size: 2vh;
    transition: 0.3s;
}

nav span:hover {
    color: #3D348B;
}

nav .left {
    position: absolute;
    left: 0;
    margin: auto;
    line-height: 7vh;
}

nav .right {
    position: absolute;
    right: 0;
    margin: auto;
    line-height: 7vh;
}

button:focus {
    outline: none;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1B98E0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3D348B;
}

::-webkit-scrollbar-thumb:active {
    background: #3D348B;
}

a {
    text-decoration: none !important;
}

.block {
    width: 100%;
    height: 30vh;
}

.auto-block {
    width: 100%;
    height: auto;
}

footer {
    background-color: #3D348B;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Lato', "arial";
    font-size: 2vh;
}

footer>.row>div {
    width: 100%;
    height: 5vh;
    text-align: center;
}

footer .top {
    margin-top: 2vh;
    color: #fff;
}

footer .mid {
    padding-right: 3vh;
    margin-top: -1vh;
}

footer .mid a {
    color: #fff;
}

footer .bot {
    margin-top: 0.4vh;
    margin-bottom: 1vh;
    color: #fff;
}

/*Heart*/
footer .bot i:first-of-type {
    color: red;
    font-size: 3.2vh;
    transform: translateY(.7vh);
    padding-left: .5vh;
    padding-right: .5vh;
}

/*Atom*/
footer .bot i:last-of-type {
    color: #fff;
    font-size: 2.95vh !important;
    transform: translateY(.5vh);
    padding-left: 1vh;
    padding-right: 1vh;
}

footer .top span {
    color: #06D6A0;
    cursor: pointer;
    transition: 0.3s;
}

footer .top span:hover {
    color: #1B98E0;
}

footer .fa-facebook-f {
    font-size: 3vh;
    transform: translateX(-3vh) translateY(0.2vh);
    transition: 0.3s;
}

footer .fa-facebook-f:hover {
    transform: translateX(-3vh) translateY(0.2vh) scale(1.2);
}

footer .mail {
    font-size: 3.2vh;
    transform: translateX(0vh) translateY(0.9vh);
    transition: 0.3s;
}

footer .mail:hover {
    transform: translateX(0vh) translateY(0.9vh) scale(1.2);
}

footer .fa-github {
    font-size: 3.2vh;
    transform: translateX(3vh) translateY(0.5vh);
    transition: 0.3s;
}

footer .fa-github:hover {
    transform: translateX(3vh) translateY(0.5vh) scale(1.2);
}

/*Footer Overlay*/
.form-overlay-cover {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 40;
    display: none;
}

nav {
    z-index: 10 !important;
}

.form-overlay {
    width: 70%;
    height: 78vh;
    background-color: #fff;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    border-radius: 2vh;
    display: none;
    opacity: 0;
    transition: 0.3s;
    overflow-y: scroll;
    overflow-x: hidden;
}

.form-overlay::-webkit-scrollbar {
    width: 0px;
}

.form-exit {
    position: fixed;
    color: #1b98e0;
    border: 0px solid transparent;
    top: 13.5vh;
    right: 17%;
    font-size: 4vh;
    background-color: transparent;
    transition: 0.3s;
    display: none;
}

.form-exit:hover {
    color: #3D348B;
}

form .title {
    font-size: 4vh;
    color: #1b98e0;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

form .wrap {
    width: 100%;
}

form label {
    font-size: 2.3vh;
    width: 100%;
    margin-left: 10%;
    color: #3D348B;
}

.checks> :first-child {
    font-size: 2.3vh;
    width: 100%;
    margin-left: 10%;
    color: #3D348B;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.checks label {
    font-size: 2vh;
    width: 100%;
    margin-left: 12%;
    color: #06D6A0;
}

.checks input {
    position: absolute;
    left: 10%;
    margin-top: 0.9vh;
    cursor: pointer;
}

form .text input {
    margin-left: 10%;
    min-width: 60%;
    border: 0;
    border-bottom: 1px #bbb solid;
    margin-bottom: 2vh;
    transition: 0.6s;
    font-size: 1.8vh;
}

form .text input:focus {
    outline: none !important;
    border-bottom: 2px #1b98e0 solid;
}

form .send {
    border: 0;
    background-color: #1b98e0;
    color: #fff;
    padding: .8vh 2vh;
    font-size: 2vh;
    border-radius: 1vh;
    margin-left: 10%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    transition: 0.3s;
}

form .send:hover {
    background-color: #3D348B;
}

form .send:disabled {
    background-color: #bbb;
}

form .send:disabled:hover {
    background-color: #bbb !important;
}

nav .collapse,
/* .navbar-toggler, */
nav i {
    display: none !important;
}

@media only screen and (max-width: 1170px) {

    nav .left,
    nav .right {
        display: none;
    }

    nav .collapse,
    /* .navbar-toggler, */
    nav i {
        display: unset !important;
    }

    nav i {
        z-index: 100;
        position: absolute;
        right: 10%;
        color: #3D348B !important;
        font-size: 3.5vh !important;
        transition: 0.3s;
    }

    nav .navbar-nav {
        background-color: #fff;
        width: 100%;
        position: fixed;
        top: 7vh;
        left: 0;
        border-bottom-left-radius: 1vh;
        border-bottom-right-radius: 1vh;
        overflow: hidden;
        opacity: 0;
        transition: 0.3s;
        transform: translateY(calc(-100% - 10vh));
    }

    nav .navbar-nav> :last-child {
        border-bottom-left-radius: 1vh;
        border-bottom-right-radius: 1vh;
    }

    nav .navbar-nav a {
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        padding-left: 2vh;
        font-size: 2vh;
        transition: 0.3s;
    }

    nav * {
        color: #1b98e0 !important;
    }

    .active {
        color: #3D348B !important;
    }

    nav span:hover {
        color: #06D6A0 !important;
    }

    nav a:hover {
        background-color: #ddd !important;
    }

    .form-overlay {
        width: 90%;
    }

    .form-exit {
        top: 1vh;
        right: 2%;
        color: #fff;
    }
}

/* @media only screen and (orientation:portrait) {

    html,
    body {
        overflow-x: hidden;
    }

} */