@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

body {
    font-family: "Nunito", "arial" !important;
    overflow-x: hidden;
}

nav {
    font-size: 2vh;
    background-color: #fff;
    height: 7vh;
    color: #1B98E0;
    transition: 0.1s;
}

nav * {
    transition: 0.1s;
}

/* nav.active {
    color: #1B98E0;
} */

nav img {
    height: 5vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

nav img:hover {
    height: 5.5vh;
}

nav span {
    padding-right: 2vh;
    padding-left: 2vh;
    font-size: 2vh;
}

nav span:hover {
    color: #06D6A0;
}

nav .left {
    position: absolute;
    left: 0;
    margin: auto;
    line-height: 7vh;
}

nav .right {
    position: absolute;
    right: 0;
    margin: auto;
    line-height: 7vh;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1B98E0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3D348B;
}

::-webkit-scrollbar-thumb:active {
    background: #3D348B;
}

a {
    text-decoration: none !important;
}

.block {
    width: 100%;
    height: 30vh;
}

.auto-block {
    width: 100%;
    height: auto;
}

footer {
    background-color: #3D348B;
    width: 100%;
    height: 20vh;
}

footer i {
    transform: translateY(0.5vh) scale(1.2);
    padding-left: .5vh;
    padding-right: .5vh;
    font-size: 2.5vh !important;
}

footer a {
    color: #06D6A0;
}

footer a:hover {
    color: #1B98E0;
}

.social i {
    color: #fff;
    margin-top: 7.5vh;
    font-size: 3vh;
    padding-right: 3vh;
}

.fa-facebook-f {
    background-color: #1B98E0;
    border-radius: 100%;
    width: 4vh;
    height: 4vh;
    padding-left: 1.2vh;
    padding-top: 0.7vh;
}

.mail {
    font-size: 2vh;
    color: #fff;
    margin-top: 7vh;
}