body {
    background: linear-gradient(to top left, #06D6A0, #2193b0, #1B98E0, #43cea2);
}

body::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -10vh;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #4568dc, #36d1dc);
    -webkit-mask: linear-gradient(#fff, transparent);
    mask: linear-gradient(#fff, transparent);
}

.ds-selected {
    background: rgba(45, 170, 219, 0.3);
}

.timeline {
    position: relative;
    margin-top: 10vh;
}

.timeline-item p.title {
    font-size: 2.4vh;
    color: #1B98E0;
}

.timeline-item p {
    font-size: 1.6vh;
    display: inline-block;
}

.timeline-item p:nth-of-type(2n) {
    margin-top: -12px;
}

.line {
    background: #fff;
    width: .75vh;
    /* height: 97%; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3vh;
}

.timeline-item {
    width: 100%;
    margin-bottom: 7vh;
}

.timeline-item:nth-child(even) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 3vh;
    left: -1.5vh;
    border-color: transparent transparent transparent transparent;
}

.timeline-item::after {
    content: '';
    display: block;
    clear: both;
}

.timeline-img {
    width: 5vh;
    height: 5vh;
    background: #3D348B;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 2.5vh;
    margin-left: -2.5vh;
    line-height: 5vh;
    text-align: center;
    color: #fff;
    font-size: 1.5vh;
}

.timeline-content {
    position: relative;
    width: 55%;
    padding: 2vh 3vh;
    border-radius: 1vh;
    background: #fff;
    margin-left: -10%;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 60px 40px rgba(0, 0, 0, 0.15);
}

.timeline-item:nth-child(even) .timeline-content {
    float: right;
    padding: 2vh 3vh 1vh 3vh;
    margin-right: -10%;
}

.timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 3vh;
    right: -1.5vh;
    border-width: 1vh 0 1vh 1.5vh;
    border-color: transparent transparent transparent transparent;
}

@media screen and (max-width: 768px), (orientation:portrait){
    .line {
        left: 50px;
    }

    .timeline .timeline-img {
        left: 50px;
    }

    .timeline .timeline-content {
        max-width: 100%;
        width: auto;
        margin-left: 70px;
    }

    .timeline .timeline-item:nth-child(even) .timeline-content {
        float: none;
    }

    .timeline .timeline-item:nth-child(odd) .timeline-content::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent transparent transparent transparent;
    }
}