body {
    background-image: linear-gradient(to top right, #5680e9, #54b9ea);
    min-height: 100vh;
}

.ds-selected {
    background: rgba(45, 170, 219, 0.3);
    border-radius: inherit;
}

table.test {
    height: 10vh;
    margin: 10vh auto 0 auto;
    width: 80%;
    empty-cells: show;
}

table.test tr {
    font-size: 2vh;
}

table.student {
    height: 40vh;
    width: 80%;
    margin: 2vh auto 5vh auto;
}

table.student tr {
    border-top: 0vh solid #1B98E0;
    border-bottom: 0.3vh solid #1B98E0 ;
    transform: scaleX(1);
}

table.student tr:nth-of-type(-n + 7) {
    background-color: #FFDA5D !important;
}

tr.content {
    background-color: #fff;
    font-size: 2vh;
    transition: 0.3s;
}

table.student tr.content:hover {
    transform: scaleX(1.02) scaleY(1);
    /* border-top: .8vh solid transparent;
    border-bottom: .8vh solid transparent; */
    width: 100%;
}

tr.space {
    height: 0.5vh;
}

td,
tr,
table {
    text-align: center;
    user-select: text;
    transition: background 0.3s;
    outline: none;
    transform: scale(1.00);
}

.t1> :first-child {
    border-top-left-radius: 0.75vh;
}

.t1,
table.student tr> :first-child,
table.student tr> :last-child,
table.test tr> :first-child {
    color: #1B98E0;
}

.t1> :last-child {
    border-top-right-radius: 0.75vh;
}

.t2> :first-child {
    border-bottom-left-radius: 0.75vh;
}

.t2> :last-child {
    border-bottom-right-radius: 0.75vh;
}

table.student tr> :first-child {
    border-top-left-radius: 0.75vh;
    border-bottom-left-radius: 0.75vh;
}

table.student tr> :last-child {
    border-top-right-radius: 0.75vh;
    border-bottom-right-radius: 0.75vh;
}

footer {
    position: absolute;
}

.foot-wrap {
    margin-top: 0vh;
}