body {
    background-image: linear-gradient(to top right, #0575E6, #3bb5fc, #43bca2, #00d2ff);
    min-height: 100vh;
}

.ds-selected {
    background: rgba(45, 170, 219, 0.3);
    border-radius: inherit;
    transform: scaleX(1) !important;
}

table.test {
    height: 10vh;
    margin: 8vh auto 0 auto;
    width: 80%;
    max-width: 200vh;
    empty-cells: show;
}

table.test tr {
    font-size: 2vh;
}

table.student {
    height: 40vh;
    width: 80%;
    max-width: 200vh;
    margin: 2vh auto 5vh auto;
}

table.student tr {
    border: 0.3vh solid transparent;
}

table.student tr:nth-of-type(-n + 7) {
    background-image: linear-gradient(to right, #b1c0e2, #e4efe9, #c5d3f3, #dfe9fd, #b1c0e2);
}

table.student tr:nth-of-type(-n + 3) {
    background-image: linear-gradient(to right, #FFDA5D, #EEB609, #FFDA5D, #FCC201, #FFDA5D);
}

/* table.student tr:nth-of-type(-n + 7)> :first-child,
table.student tr:nth-of-type(-n + 7)> :last-child {
    color: #764ba2;
}

table.student tr:nth-of-type(-n + 3)> :first-child,
table.student tr:nth-of-type(-n + 3)> :last-child {
    color: #764ba2;
} */

tr.content {
    background-color: #fff;
    font-size: 2vh;
    transition: 0.3s;
}

.td-over {
    border: 0.3vh solid rgba(0, 0, 0, 0.01);
}

table.student tr.content:hover {
    transform: scaleX(1.03);
}

tr.space {
    height: 0.5vh;
}

td {
    min-width: 13vh;
}

.table-wrap {
    overflow-x: auto;
}

.table-wrap::-webkit-scrollbar-track {
    background: #fff;
}

.table-wrap::-webkit-scrollbar-thumb {
    background: #bbb;
}

.table-wrap::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

.table-wrap::-webkit-scrollbar-thumb:active {
    background: #aaa;
}

td,
tr,
table {
    text-align: center;
    user-select: text;
    transition: background 0.3s;
    outline: none;
    transform: scale(1.00);
}

.t1> :first-child {
    border-top-left-radius: 0.75vh;
}

.t1,
table.test tr> :first-child,
table.test tr> :last-child,
table.student tr> :first-child,
table.student tr> :last-child {
    color: #1B98E0;
}

.t1> :last-child {
    border-top-right-radius: 0.75vh;
}

.t2> :first-child {
    border-bottom-left-radius: 0.75vh;
}

.t2> :last-child {
    border-bottom-right-radius: 0.75vh;
}

table.student tr> :first-child {
    border-top-left-radius: 0.75vh;
    border-bottom-left-radius: 0.75vh;
}

table.student tr> :last-child {
    border-top-right-radius: 0.75vh;
    border-bottom-right-radius: 0.75vh;
}

footer {
    position: absolute;
}

.foot-wrap {
    margin-top: 0vh;
}

/* @media only screen and (orientation:portrait) {
    .table-wrap {
        overflow-x: scroll !important;
        width: 90%;
        margin-left: 5%;
    }

    .table-wrap::-webkit-scrollbar {
        width: 0px !important;
    }

    td {
        min-width: 11vh;
    }
    
    table.student tr.content:hover {
        transform: scaleX(1) scaleY(1);
    }
} */