body {
    background-image: linear-gradient(to bottom right, #06D6A0, #1b98e0, #3D348B);
    min-height: 100vh;
}

.ds-selected {
    background: rgba(45, 170, 219, 0.3);
}

.wrap {
    height: auto;
    width: 85%;
    background-color: #ffffff;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 1.5vh;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 60px 40px rgba(0, 0, 0, 0.12);
    transition: 0.3s;
    transform: translateX(0%);
    overflow: scroll;
}

.wrap::-webkit-scrollbar {
    width: 0px;
}

#calendar {
    width: 90%;
    margin: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.side {
    background-color: #ffffff;
    position: absolute;
    height: auto;
    width: 21%;
    border-radius: 1.5vh;
    text-align: center;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 50px 40px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    transform: translateX(-100%);
}

.side .date {
    font-size: 3vh;
    margin-top: 3vh;
    margin-bottom: 0vh;
    display: inline-block;
}

.side .title {
    font-size: 2.5vh;
    margin: .75vh 3vh;
    display: inline-block;
}

.side .desc {
    font-size: 2vh;
    margin: 0vh 3vh 4vh 3vh;
    text-align: justify;
    display: inline-block;
}

.fc-toolbar h2 {
    font-size: 2.8vh !important;
}

.fc-day {
    height: 10vh !important;
}

.fc-today-button {
    background-color: #1B98E0 !important;
    border: 0px transparent solid !important;
}

.fc-today-button:disabled {
    background-color: #888 !important;
    border: 0px transparent solid !important;
}

.fc-prev-button,
.fc-next-button {
    background-color: #1B98E0 !important;
    border: 0px transparent solid !important;
}

.fc-day-number {
    margin-right: 1vh;
}

/* .fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td{
    border: 0px transparent solid !important;
}  */

.fc-title {
    color: #fff !important;
    padding-left: 0.5vh;
    font-size: 1.7vh;
}

.fc-event,
.fc-event-dot {
    border: 0px transparent solid !important;
    cursor: pointer !important;
}

.foot-wrap {
    position: relative;
}

.land-warning {
    display: none;
}

/* @media only screen and (orientation:portrait) {

    .wrap,
    .side,
    footer {
        display: none;
    }

    .land-warning {
        display: unset;
        color: #000;
        text-align: center;
        font-size: 4vh;
        padding: 3vh 2vh;
        width: 90%;
        left: 5%;
        margin-top: 20vh;
        position: absolute;
        background-color: #ffffff;
        border-radius: 2vh;
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 60px 40px rgba(0, 0, 0, 0.12);
    }
}

@media only screen and (orientation:landscape) {
    .fc-scroller::-webkit-scrollbar {
        width: 0px;
    }
} */