body {
    background-image: linear-gradient(to bottom right, #06D6A0, #1b98e0, #3D348B);
}

.wrap{
    height: 80vh;
}

#calendar {
    width: 90%;
    margin-top: 10vh;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 80vh;
    top: 10vh;
}