body {
    background-image: linear-gradient(to bottom right, #06D6A0, #3bb5fc, #562fc9);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 !important;
    margin: 0 !important
}

.ds-selected {
    background: rgba(45, 170, 219, 0.3);
}

.wrap {
    min-height: 80vh;
    width: 85%;
    max-width: 280vh;
    background-color: #ffffff;
    margin: auto;
    margin-bottom: 8vh;
    border-radius: 1.5vh;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 60px 40px rgba(0, 0, 0, 0.12);
    transition: 0.3s;
    transform: translateX(0%);
    overflow: auto;
}

.wrap::-webkit-scrollbar,
.fc-scroller::-webkit-scrollbar {
    width: 0px;
}

#calendar {
    width: 90%;
    margin: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#calendar .fc-right button {
    height: 4vh !important;
    line-height: 1vh !important;
    font-size: 1.6vh !important;
}

div.desc {
    position: fixed;
    border-radius: 0.75vh;
    padding: .8vh 1vh;
    font-size: 1.5vh;
    color: #000;
    font-family: 'Lato';
    max-width: 25vh;
    left: 50%;
    top: 30vh;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: #fff;
    z-index: 100;
    display: inline-block;
    opacity: 0;
    border: 2px solid;
    border-color: #3bb5fc;
}

.fc-button,
.fc-button-group {
    vertical-align: unset !important;
}

.fc-button-group {
    transform: translateY(-1px);
}

.fc-button-primary:not(:disabled).fc-button-active, .fc-button-primary:not(:disabled):active {
    background-color: #3BB5FC !important;
    border-color: transparent !important;
    outline: none;
}

.fc-right .fc-button-primary {
    color: #fff;
    background-color: #aaa !important;
    border-color: transparent !important;
    outline: none !important;
}

.change-view {
    outline: none;
    border: 0;
    background-color: #1B98E0;
    color: #fff;
    font-size: 1.6vh;
    line-height: 1vh;
    height: 4vh;
    border-radius: 0.25em;
    width: 8vh;
}

.fc-right {
    display: inline-block;
    padding: 0 !important;
}

/*List View*/
.fc-list-item {
    cursor: pointer;
}

/*Month Day Grid*/
.fc-toolbar h2 {
    font-size: 2.8vh !important;
}

a.fc-event .fc-content {
    border-radius: 3px;
    padding-right: 0.5vh;
}

.fc-day {
    height: 10vh !important;
}

.fc-today-button {
    background-color: #1B98E0 !important;
    border: 0px transparent solid !important;
}

.fc-today-button:disabled {
    background-color: #888 !important;
    border: 0px transparent solid !important;
}

.fc-prev-button,
.fc-next-button {
    background-color: #1B98E0 !important;
    border: 0px transparent solid !important;
}

.fc-day-number {
    margin-right: 1vh;
}

/* .fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td{
    border: 0px transparent solid !important;
}  */

.fc-list-item {
    cursor: inherit !important;
}

.fc-title {
    color: #fff !important;
    padding-left: 0.5vh;
    font-size: 1.7vh;
}

.fc-event,
.fc-event-dot {
    border: 0px transparent solid !important;
}

.foot-wrap {
    position: relative;
}

.land-warning {
    display: none;
}