.pdf .ds-selected {
    background: rgba(130, 130, 130, 0.4);
}

.ds-selected.title {
    background: rgba(130, 130, 130, 0.6);
}

.event .ds-selected,
.topic .ds-selected {
    background: rgba(45, 170, 219, 0.3);
}

/*Schedule*/
.slider {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
    height: 0vh;
    margin-top: 8vh;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.slider> :first-child,
.slider> :last-child {
    display: inline-block !important;
    margin-top: 0;
    margin-bottom: 0;
}

.schedule {
    width: calc(100% - 10vh);
    height: 9vh;
    text-align: center;
    padding: 0 !important;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.event-wrap {
    transition: 0.3s;
}

.schedule .event {
    height: 7vh;
    min-width: 24vh;
    max-width: 40vh;
    width: 13%;
    background-color: #fff;
    margin-top: 1vh;
    margin-right: 2%;
    border-radius: 1.5vh;
    overflow: hidden;
    display: inline-block;
    transition: 0.3s;
}

.schedule .label {
    text-align: center;
    color: #06D6A0;
    font-size: 2vh;
    margin-top: .6vh;
    user-select: none;
}

.schedule .desc {
    text-align: center;
    color: #1B98E0;
    font-size: 1.8vh;
    width: 90%;
    margin: auto;
    overflow: hidden;
    user-select: none;
}

.fa-chevron-left.sa {
    font-size: 3vh !important;
    width: 3%;
    height: 10vh;
    padding-top: 3.6vh;
    cursor: pointer;
    transition: 0.3s;
    transform: translateX(-2vh);
}

.fa-chevron-right.sa {
    font-size: 3vh !important;
    width: 3%;
    height: 10vh;
    padding-top: 3.6vh;
    cursor: pointer;
    transition: 0.3s;
    transform: translateX(2vh);
}

.fa-chevron-left.sa:hover,
.fa-chevron-right.sa:hover {
    color: #2c2379;
}

/*Lectures*/
.lectures {
    margin-top: 3vh;
    width: 100%;
    text-align: center;
}

.lectures .title {
    font-size: 7vh;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin: auto;
    margin-bottom: 1.5vh;
}

.topic-wrap {
    margin: -2vh auto;
    display: flex;
    justify-content: center;
    max-width: 200vh;
}

.topic {
    height: 5vh;
    width: auto;
    background-color: #fff;
    border-radius: 1.5vh;
    margin: 1.5vh 1.5%;
    padding: 0vh 2vh;
    font-size: 2vh;
    color: #1B98E0;
    cursor: pointer;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: hidden;
}

.topic:hover {
    color: #3D348B !important;
    transition: 0.3s;
}

.topic i {
    font-size: 2.8vh;
    color: #3D348B;
    margin-right: .75vh;
    transform: translateY(-0.2vh);
}

/*PDF*/
.viewer {
    margin-top: 4vh;
    width: 84%;
    max-width: 200vh;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    border-radius: 1.5vh;
    transition: 0.3s;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewer[vis="off"] {
    height: 0vh;
}

.pdf-wrap {
    transition: 0.3s;
    width: calc(100% - 13vh);
    overflow: hidden;
    display: block;
    margin: auto;
}

.pdf {
    height: 30vh;
    min-width: 28vh;
    max-width: 45vh;
    width: 20%;
    background-color: #fff;
    border-radius: 1.5vh;
    margin-top: 2vh;
    margin-right: 3%;
    overflow: hidden;
    display: inline-block;
    transition: 0.3s;
}

.pdf img {
    width: 100%;
}

.pdf .img-wrap {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pdf-move {
    transition: 0.3s;
    position: relative;
    height: 38vh;
}

.pdf .label {
    font-size: 2vh;
    color: #000;
    position: absolute;
    bottom: 0;
    text-align: center;
    min-width: 28vh;
    width: 20%;
    max-width: 45vh;
    overflow: hidden;
    z-index: 1;
    transition: 0.3s;
    margin-bottom: 1.7vh !important;
}

.fa-chevron-left.pa {
    font-size: 3vh !important;
    cursor: pointer;
    color: #3D348B;
    transition: 0.3s;
    z-index: 9;
    transform: translateX(2.5vh)
}

.fa-chevron-right.pa {
    font-size: 3vh !important;
    cursor: pointer;
    color: #3D348B;
    transition: 0.3s;
    z-index: 9;
    transform: translateX(-2.5vh)
}

/*8th Periods*/
div.switch-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: -1vh;
}

div.switch {
    color: #fff;
    font-size: 1.8vh;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    font-family: 'Nunito';
    margin: 0 1%;
    padding: .75vh 1.5vh;
    border-radius: 1vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

div.switch.active-switch {
    background-color: rgba(255, 255, 255, 0.5);
}

div.switch:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

div.switch p {
    margin-left: 1vh;
}

div.switch img {
    height: 2vh;
}

.lecture-group .pdf {
    margin-top: 0vh;
    width: auto;
    min-width: auto;
    max-width: none;
    height: 100%;
    position: relative;
    background-color: transparent;
    padding-top: 2vh;
}

.lecture-group .pdf .img-wrap {
    height: auto;
    border-radius: 1.5vh;
    overflow: hidden;
    height: 27vh;
}

.lecture-group .pdf img {
    border-radius: 1.5vh;
    height: 27vh;
    width: auto;
}

.lecture-group .pdf .docs {
    background-color: #fff;
}

.lecture-group .pdf .docs img {
    /* padding-left: 2vh;
    padding-right: 2vh; */
    height: 40vh;
}

.lecture-group .youtube img {
    border-radius: 1.5vh;
    height: 36vh;
}

.lecture-group .pdf-move {
    height: 35vh;
}

.lecture-group .pdf .label {
    width: 100%;
    min-width: auto;
    max-width: none;
    text-align: center;
    display: inline-block;
}

/*Resources*/
.resources {
    width: 100%;
    transition: 0.3s;
    text-align: center;
    max-width: 200vh;
    margin: auto;
}

.resources .row {
    display: flex;
    justify-content: center;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: -2vh;
}

.resources .col-c {
    height: 38vh;
    border-radius: 1.5vh;
    margin: 0 1.25% 2.5vw;
    width: 16%;
    min-width: 28vh;
    max-width: 50vh;
    transition: 0.3s;
}

.resources .col-c a {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5vh;
    transition: 0.3s;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.02),
        0 12.3px 11.9px rgba(0, 0, 0, 0.012),
        0 11.8px 11.4px rgba(0, 0, 0, 0.016),
        0 20px 20px rgba(0, 0, 0, 0.1);
}

.resources .col-c a:hover {
    transform: scale(1.02);
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 12.3px 17.9px rgba(0, 0, 0, 0.052),
        0 11.8px 13.4px rgba(0, 0, 0, 0.076),
        0 20px 20px rgba(0, 0, 0, 0.13);
}

.resources .col-c img {
    min-width: 100%;
    height: 38vh;
    border-radius: 1.5vh;
}

.col-place {
    margin: 0 1.25% 2.5vw;
    width: 16%;
    min-width: 28vh;
    max-width: 50vh;
}

.resources .title {
    font-size: 7vh;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin: auto;
    margin-bottom: 4vh;
}

.foot-wrap {
    margin-top: 0vh;
}

footer {
    position: absolute;
    transition: 0.3s;
}

/* @media only screen and (orientation:portrait) {

    .slider,
    .lectures,
    .viewer {
        display: none;
    }

    .resources {
        margin-top: 10vh;
    }
}

@media only screen and (orientation:landscape) {

    .pdf .label {
        transform: translateY(2vh);
    }

    .schedule,
    .pdf-wrap {
        overflow-x: scroll;
        overflow-y: hidden;
    }
} */