@media only screen and (orientation:portrait) {
    .overlay .title {
        font-size: 4vh;
    }

    .event-small,
    .event-large {
        justify-content: center;
        padding-left: 0%;
        padding-right: 0%;
    }

    .event-large>div {
        padding-left: 8%;
        padding-right: 8%;
    }

    .event-small>div {
        padding-left: 8%;
        padding-right: 8%;
    }

    .large,
    .event {
        min-width: 0vh;
    }

    .large .desc {
        font-size: 2.2vh;
    }

    .large .title {
        font-size: 5vh;
    }

    .event .title {
        width: 95%;
    }

    .overlay {
        max-height: 75vh;
    }

    .overlay .desc {
        margin-top: 2vh;
    }

    .overlay.text .label {
        margin-left: 6%;
    }

    .overlay.text .desc {
        width: 88%;
        margin-top: 0vh;
    }

    .vid {
        height: 70vw;
    }

    .slides {
        height: 70vw;
    }
}

@media only screen and (orientation:landscape) {
    .overlay {
        height: 75vh;
        width: 80%;
    }
}