@media only screen and (orientation:portrait) {

    html,
    body {
        overflow-x: hidden;
    }

    body,
    .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .metric {
        height: 80vh;
    }

    .metric-cover .back {
        height: 60vh;
    }

    .metric-cover p {
        top: 20vh;
        font-size: 8vh;
    }

    .b1 {
        margin-top: -20vh;
    }

    .b1 p.label {
        width: 80%;
    }

    .b1 p.desc {
        width: 85%;
        text-align: justify;
    }

    .b2 .row>div,
    .outreach .col-5 {
        min-width: 40vh;
    }

    .outreach .col-5 {
        margin-top: 5vh;
        margin-bottom: 2vh;
    }

    .outreach img {
        width: auto;
        min-height: 40vh;
    }
}

@media only screen and (orientation:landscape) {
    .metric-cover p {
        font-size: 14vh;
    }
}