.back {
    height: 100vh;
    width: 100%;
    background-color: #bbb;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
}

.intro {
    background-color: #fff;
    border-radius: 1vh;
    width: 70%;
    margin-left: 15%;
    height: auto;
    position: absolute;
    top: 2vh;
    padding-bottom: 2vh;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 40px 30px rgba(0, 0, 0, 0.32);
}

.intro img {
    height: 7vh;
    position: absolute;
    top: 1.8vh;
    left: 57%;
}

.intro .title {
    font-size: 5vh;
    font-family: 'Nunito';
    font-weight: 600;
    position: absolute;
    top: -3vh;
    left: 28%;
    color: #1b98e0;
}

.intro .label {
    font-size: 3vh;
    color: #3D348B;
    font-family: 'Roboto';
    margin-top: 11vh;
    margin-left: 5%;
}

.intro .sub{
    color: #1b98e0;
    font-family: 'Roboto';
    margin-left: 5%;
    font-size: 2.5vh;
}

.intro .desc {
    font-size: 2vh;
    font-family: 'Roboto';
    margin-left: 5%;
    width: 60%;
    margin-top: -1.5vh;
    line-height: 3vh;
    padding-right: 2%;
}

.border{
    border-right: 1px solid #bbb;
    height: 43vh;
    width: 1px;
    position: absolute;
    left: 63%;
    top: 18.5vh;
}

.events .title {
    font-size: 3vh;
    color: #3D348B;
    font-family: 'Roboto';
    position: absolute;
    top: 10vh;
    left: 67.5%;
}