.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.f1 {
    background-color: #fff;
    border-radius: 1vh;
    width: 1400px;
    margin-left: 260px;
    height: auto;
    font-family: 'Roboto';
    margin-top: 2vh;
    padding-bottom: 2vh;
    border: 2px solid #bbb;

    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 30px 20px rgba(0, 0, 0, 0.32);
}

.f1 img {
    height: 7vh;
    margin-left: 3%;
    margin-top: 1.8vh;
}

.top-title {
    font-size: 5vh;
    font-family: 'Nunito';
    font-weight: 600;
    margin-left: 29%;
    color: #1b98e0;
    margin-top: 2vh;
}

.intro .label {
    font-size: 3vh;
    color: #3D348B;
    margin-top: -1vh;
    margin-left: 5%;
}

.intro .sub {
    color: #1b98e0;
    margin-left: 5%;
    font-size: 2.5vh;
}

.intro .desc {
    font-size: 2vh;
    margin-left: 5%;
    width: 110%;
    margin-top: -1.5vh;
    line-height: 3vh;
}

.seper {
    border-right: 1px solid #bbb !important;
    height: 42vh;
    margin-top: 5vh;
}

.events {
    font-family: 'Roboto';
    width: 100%;
}

.events .title {
    font-size: 3vh;
    color: #3D348B;
    font-family: 'Roboto';
    margin-top: 0vh;
    text-align: center;
}

.events .label {
    color: #1b98e0;
    font-size: 2vh;
    width: 90%;
    padding-left: 5%;
}

.events .desc {
    font-size: 1.7vh;
    margin-top: -1vh;
    width: 90%;
    padding-left: 5%;
}